
body{
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 6, 101);
}

h1{

    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 100, 243);
    text-align: center;
    border: 5px inset;
    padding: 10px;
}